@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Kumbh Sans', sans-serif;
}

h1,
h2 {
    font-weight: 700;
}

.animation {
    animation: animate 0.5s ease-out forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animations {
    animation: animates 0.5s ease-out forwards;
}

@keyframes animates {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}